{% extends 'base.html.twig' %}

{% block title %}Click & Propre{% endblock %}

{% block body %}
    <img class="logoHeader" src="{{asset('images/ClickProprebg.png')}}" alt="">
    <h1>Test</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque vitae consequatur, sit temporibus placeat aliquam. Excepturi itaque corrupti expedita autem nisi vitae modi omnis consectetur? Vero expedita facilis architecto debitis explicabo quasi iure impedit, eius aperiam. Quae labore ipsum velit.</p>
{% endblock %}
